{% extends 'layouts/base.html' %}

{% block content %}
    <fieldset class="mt-5 pt-3 register-form-fieldset border rounded w-50">
        <form method="POST" action="/register" class="register-form">
            {{ form.hidden_tag() }}
            <legend class="fs-5 register-form-legend">
                <small>
                    <ul>
                        {{ form.username.label(class="form-text") }}
                        {{ form.username(class="form-control form-control mt-1 w-75") }}
                    </ul>
            
                    <ul>
                        {{ form.email.label(class="form-text") }}
                        {{ form.email(class="form-control form-control mt-1 w-75") }}
                    </ul>
                    
                    <ul>
                        {{ form.password.label(class="form-text") }}
                        {{ form.password(class="form-control form-control mt-1 w-75") }}
                    </ul>

                    <ul>
                        {{ form.confirm_password.label(class="form-text") }}
                        {{ form.confirm_password(class="form-control form-control mt-1 w-75") }}
                    </ul>
                    
                    <ul>
                        {{ form.submit(class="btn btn-outline-info bg-white mt-3") }}
                    </ul>
                </small>
            </legend>
        </form>
    </fieldset>
{% endblock %}